@charset "ISO-8859-1";


@media (max-width: 576px) { 

	*{
		font-size: 0.8rem;
	}
	
	h2{
		font-size: 1.1rem;
	}
	
	h3{
		font-size: 0.9rem;
	}
	
	h4{
		font-size: 0.9rem
	}
	
	.btn{
		font-size: 0.9rem;
	}

}

html, body{	/*pagina hasta abajo*/
	
	width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    font-family: comic sans ms;
	
}
/*
nav, section, footer, aside{
	
	border: 1px solid red;
		
}

article, div{
	border: 1px solid black;
}*/

aside{
	
	background-color: #a51a1a;	
	padding: 2px!important;	
	position: fixed;
	background-image: url("../img/fondo_aside.jpg");
		
}

section{
	
	/*padding: 2% 5%;*/
	overflow: auto;
	background: url("../img/fondo_section.jpg") no-repeat center center fixed;
	background-size: cover;
	color: white;
	
}



footer{	
	
	position: absolute;/* fijo en la pantalla */
	bottom: 0;
	margin: 0 auto;
	width: 98%;
	
}


a{
	color: white;
	cursor: pointer;
	
}

a:hover{
	color: red;
}

h4{
	cursor: pointer;
	font-size: 1.1rem;
		
}

#presentacion *{
	margin-left: auto;
	margin-right: auto;
}

#foto{
	border-radius: 130px;
	padding: 5%;
	width: 70%;
		
}

.capaDinamica, .flechas{	/*Para la funcion aparecer/desaparecer*/
	display: none;	
	
}

#capa_1{
	
	font-size: 1.4rem;
	padding-top: 6%;
	padding-left: 5%;
	padding-right: 5%;
	width: 50%;
	
}

#capa_2{
	
	padding-left: 4%;
	padding-bottom: 3%;
	padding-top: 4%;
	font-size: 1.1rem;
	color: white;
	width: 48%;
	
}

#capa_3{
	padding-left: 5%;
	padding-bottom: 7%;
	padding-top: 6%;
	font-size: 1.1rem;
}

#capa_5{
	padding-left: 4%;
	padding-bottom: 3%;
	font-size: 1.1rem;
}

.titulo{	
	color: red;
	font-weight: bold;
	font-size: 1.9rem;
}

.btn {
  background: #a51a1a;
  background-image: -webkit-linear-gradient(top, #a51a1a, #a51a1a);
  background-image: -moz-linear-gradient(top, #a51a1a, #a51a1a);
  background-image: -ms-linear-gradient(top, #a51a1a, #a51a1a);
  background-image: -o-linear-gradient(top, #a51a1a, #a51a1a);
  background-image: linear-gradient(to bottom, #a51a1a, #a51a1a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #141212;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  border: solid #a51a1a 2px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #f20836;
  text-decoration: none;
}




